@{
    ViewData["Title"] = "Calculate Page";
}

<div id="app">
    <template>
        <el-table ref="hospitalTable"
                  :data="tableData"
                  border
                  :summary-method="getSummaries"
                  show-summary
                  lazy
                  row-key="id"
                  :load="load"
                  :tree-props="{children: 'children', hasChildren: 'hasChildren'}"
                  style="width: 100%">
            <el-table-column property="mc"
                             label="医院名称"
                             sortable
                             width="200">
            </el-table-column>
            <el-table-column prop="wjzl"
                             sortable
                             label="未就诊量">
            </el-table-column>
            <el-table-column prop="qxl"
                             sortable
                             label="取消量">
            </el-table-column>
            <el-table-column prop="jzl"
                             sortable
                             label="就诊量">
            </el-table-column>
            <el-table-column prop="yyzl"
                             sortable
                             label="预约总量">
            </el-table-column>
            <el-table-column prop="bz"
                             label="备注">
            </el-table-column>
            <el-table-column prop="ze"
                             sortable
                             label="总额">
            </el-table-column>
        </el-table>
    </template>
</div>
<script>
    var tableData = [
        {
            id: "001",
            mc: '北京爱尔英智眼科医院',
            wjzl: 66,
            qxl: 59,
            jzl: 101,
            yyzl: 226,
            bz: "",
            ze: 1000
        },
        {
            id: "002",
            mc: '北京长峰医院',
            wjzl: 58,
            qxl: 108,
            jzl: 82,
            yyzl: 248,
            bz: "",
            ze: 13860,
            hasChildren: true
        },
        {
            id: "003",
            mc: '北京优颐口腔医院特需门诊分院（海淀区）',
            wjzl: 1,
            qxl: 0,
            jzl: 1,
            yyzl: 2,
            bz: "测试最长名称",
            ze: 100
        }
    ]

    var cfData = [{
            id: "002001",
            mc: '血管外科',
            wjzl: 7,
            qxl: 13,
            jzl: 9,
            yyzl: 29,
            bz: ""
        }, {
            id: "002002",
            mc: '血管瘤',
            wjzl: 7,
            qxl: 13,
            jzl: 9,
            yyzl: 29,
            bz: ""
        }, {
            id: "002003",
            mc: '男科',
            wjzl: 9,
            qxl: 10,
            jzl: 20,
            yyzl: 39,
            bz: ""
        }, {
            id: "002004",
            mc: '泌尿',
            wjzl: 9,
            qxl: 10,
            jzl: 20,
            yyzl: 39,
            bz: ""
        }, {
            id: "002005",
            mc: '妇科',
            wjzl: 9,
            qxl: 10,
            jzl: 20,
            yyzl: 39,
            bz: ""
        }, {
            id: "002006",
            mc: '内分泌',
            wjzl: 42,
            qxl: 85,
            jzl: 53,
            yyzl: 180,
            bz: ""
        }, {
            id: "002007",
            mc: '糖尿',
            wjzl: 42,
            qxl: 85,
            jzl: 53,
            yyzl: 180,
            bz: ""
        }, {
            id: "002008",
            mc: '甲状腺',
            wjzl: 42,
            qxl: 85,
            jzl: 53,
            yyzl: 180,
            bz: ""
        }, {
            id: "002009",
            mc: '心血管',
            wjzl: 42,
            qxl: 85,
            jzl: 53,
            yyzl: 180,
            bz: ""
        }, {
            id: "002010",
            mc: '神内',
            wjzl: 42,
            qxl: 85,
            jzl: 53,
            yyzl: 180,
            bz: ""
        }, {
            id: "002011",
            mc: '中医',
            wjzl: 42,
            qxl: 85,
            jzl: 53,
            yyzl: 180,
            bz: ""
        }
    ]

    var Main = {
        data() {
            return {
                tableData: tableData
            }
        },
        methods: {
            getSummaries(param) {
                const { columns, data } = param;
                const sums = [];
                columns.forEach((column, index) => {
                    if (index === 0) {
                        sums[index] = '总收入';
                        return;
                    } else if (column.property == 'bz') {
                        sums[index] = "N/A"
                        return;
                    }
                    const values = data.map(item => Number(item[column.property]));
                    if (!values.every(value => isNaN(value))) {
                        sums[index] = values.reduce((prev, curr) => {
                            const value = Number(curr);
                            if (!isNaN(value)) {
                                return prev + curr;
                            } else {
                                return prev;
                            }
                        }, 0);
                        //sums[index] += ' 元';
                    }
                });

                return sums;
            },
            load(tree, treeNode, resolve) {
                this.getDetailProcess("1")
                setTimeout(() => {
                    resolve([
                        {
                            id: "21",
                            mc: '血管外科、血管瘤',
                            wjzl: 7,
                            qxl: 13,
                            jzl: 9,
                            yyzl: 29,
                            bz: "",
                            ze: 2700
                        }, {
                            id: "22",
                            mc: '男科、泌尿、妇科',
                            wjzl: 9,
                            qxl: 10,
                            jzl: 20,
                            yyzl: 39,
                            bz: "",
                            ze: 4800
                        }, {
                            id: "23",
                            mc: '内分泌、糖尿、甲状腺、心血管、神内、中医',
                            wjzl: 42,
                            qxl: 85,
                            jzl: 53,
                            yyzl: 180,
                            bz: "",
                            ze: 6360
                        }])
                }, 1000)
            },
            getDetailProcess(hospitalId) {
                var url = "https://@Context.Request.Host" + "/api/MyApi/Get/" + hospitalId
                const req = new Request(url, { method: "GET" })

                fetch(req).then(function (response) {
                    response.json().then(function (value) {
                        alert(value)
                    });
                }).catch(function (error) {
                    alert(error)
                })
            }
        }
    }
    var Ctor = Vue.extend(Main)
    new Ctor().$mount('#app')
</script>
